<div class="fusion-layout">
  <!-- Columna izquierda: controles -->
  <div class="fusion-left">
    <button (click)="generateFusion()" class="fusion-btn">🔀 Re-fusionar</button>
  </div>

  <!-- Columna derecha: tarjeta -->
  <div class="fusion-right">
    
    <app-fusion-card *ngIf="fusion" [fusion]="fusion"></app-fusion-card>
   
      <!-- Mostrar imágenes de la fusión -->
  <div *ngIf="fusion?.images" class="fusion-images">
    <img *ngFor="let img of fusion.images" [src]="img" alt="Pokemon image">
    <button *ngIf="fusion" (click)="addToFavorites()">⭐ Agregar a favoritos</button>
  </div>
</div>




  





